
html{
    height: 100%;
    box-sizing: border-box;
}
body{
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 6.74rem;
    box-sizing: inherit;
}
.nav{
    height: 8vh;
    width: 99.9%;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0px 3px 10px grey;
    flex-wrap: wrap;
    position: sticky;
    z-index: 10;
    top: 0;
    overflow-x: hidden;
}
.menu{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-decoration: none;
}
.menu li{
    margin-left: 4%;
    margin-top: 1%;
    list-style-type: none;
    font-weight: bold;
    color: black;
    cursor: pointer;
}
.menu li:hover{
    text-decoration: underline;
}

.showblogdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    flex-wrap: wrap;
    margin-top: 2%;

    
}
.blog{
    height: 35vh;
    width: 30vw;
    background-color: white;
    margin-top: 2%;
    display: flex;
    box-shadow: 0px 3px 10px grey;
    border-radius: 2vh;
}
.blogimg{
    border-radius: 2vh 0 0 2vh;
    flex-wrap: wrap;
    height: auto;
    width: 14vw;
}
.blogcontent{
    margin-left: 5%;
}
.blogtext{
    
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
   overflow: hidden;
}
.title{
    display: -webkit-box;
   -webkit-line-clamp: 1;
   -webkit-box-orient: vertical;
   overflow: hidden;
}
.bbtn{
    height: 5vh;
    color: white;
    background-color: rgb(0, 190, 223);
    border: none;
    margin-left: 50%;
}
h3{
    text-align: center;
}
.line{
    width: 95vw;
    height: 0.07vh;
    background-color: blueviolet;
    align-items: center;
}
.paginationdiv{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 1%;
   margin-bottom: 13%;   

}
.paginationbtn{
    height: 4vh;
    width: 2vw;
    color: rgb(0, 190, 223);
    font-weight: bold;
    border: 1px solid rgb(0, 190, 223);
    background-color: white;
}
.paginationbtn:hover{
    color: white;
    background-color: rgb(0, 190, 223);
    transition: ease-in 0.3s;
}
.footerdiv{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40vh;
    width: 100%;
    background-color: rgb(0, 190, 223);
    border-radius: 2vh 2vh 0 0;
    display: flex;

}
.quicklinks{
    margin-left: 5%;
}
.quicklinks ul li{
    list-style-type: none;
    margin-top: 45%;
    font-weight: bold;
}
.quicklinks ul li:hover{
    text-decoration: underline;
    color: white;
}
.vertcleline{
    border-left: 3px solid white; 
    height: 200px;
   margin: 2% 5%;
}

.social{
    margin-top: 5%;
}
.social ul{
    display: flex;
}
.social ul li{
    margin-left: 55%;
    list-style-type: none;
    cursor: pointer;
}
.brands{
    height: 4vh;
    flex-wrap: wrap;
}
::-webkit-scrollbar {
    width: 4.8px; 
    height: 12px; 
  }
  
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 6px; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
@media (min-width: 768px)and (max-width: 1024px) {
    .showblogdiv {
      flex-direction: column;
      align-items: flex-start;
    }
    .blog{
        height: auto;
        width: 100vw;
    }
    .blogimg{
        width: 35vw;
    }
    .paginationbtn{
        width: 4vw;
    }
    .paginationbtn{
        width: 6vw;
    }
    .social ul li{
        margin-left: 20%;
    }
    .brands{
        height: 1.5vh;
     
    }
    .paginationdiv{
        margin-bottom: 55%;
    }
   
  }
  @media (max-width: 590px) {
    .showblogdiv {
      flex-direction: column;
      align-items: flex-start;
    }
    .blog{
        height: auto;
        width: 100vw;
    }
    .blogimg{
        width: 35vw;
    }
    .paginationbtn{
        width: 6vw;
    }
    .social ul li{
        margin-left: 20%;
    }
    .brands{
        height: 1.5vh;
     
    }
    .paginationdiv{
        margin-bottom: 59%;
    }
    .paginationbtn{
        width: 7vw;
    }

  }
    
