
.nav{
    height: 8vh;
    width: 100vw;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0px 3px 10px grey;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
}
.menu{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-decoration: none;
}
.menu li{
    margin-left: 4%;
    margin-top: 1%;
    list-style-type: none;
    font-weight: bold;
    color: black;
    cursor: pointer;
}
.menu li:hover{
    text-decoration: underline;
}

.showblogdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    flex-wrap: wrap;
    margin-top: 5%;
}
.blog{
    height: 35vh;
    width: 30vw;
    background-color: white;
    margin-top: 2%;
    display: flex;
    box-shadow: 0px 3px 10px grey;
    border-radius: 2vh;
}
.blogimg{
    border-radius: 2vh 0 0 2vh;
    flex-wrap: wrap;
    height: auto;
    width: 14vw;
}
.blogcontent{
    margin-left: 5%;
}
.blogtext{
    
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
   overflow: hidden;
}
.title{
    display: -webkit-box;
   -webkit-line-clamp: 1;
   -webkit-box-orient: vertical;
   overflow: hidden;
}
.bbtn{
    height: 5vh;
    color: white;
    background-color: rgb(0, 190, 223);
    border: none;
    margin-left: 50%;
}
h3{
    text-align: center;
}
.line{
    width: 95vw;
    height: 0.07vh;
    background-color: blueviolet;
    align-items: center;
}

@media (min-width: 768px)and (max-width: 1024px) {
    .showblogdiv {
      flex-direction: column;
      align-items: flex-start;
    }
    .blog{
        height: auto;
        width: 100vw;
    }
    .blogimg{
        width: 35vw;
    }
  }
  @media (max-width: 590px) {
    .showblogdiv {
      flex-direction: column;
      align-items: flex-start;
    }
    .blog{
        height: auto;
        width: 100vw;
    }
    .blogimg{
        width: 35vw;
    }
  }
    
