.loginform{
    background-color: white;
    height:45vh;
    width: 20vw;
    text-align: center;
    box-shadow: 0px 3px 10px grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10% 37%;
    border-radius: 10px;

}

.btn{
    height: 4vh;
    width: 4vw;
    border-radius: 5px;
    color: white;
    background-color: rgb(0, 190, 223);
    outline: none;
    border: none;
    margin-top: 10%;
}

form{
    display: inline-block;
    margin-top: 5%;
}
input{
    height: 5vh;
    width: 12vw;
    margin-top: 7%;
    outline: none;
}
.register{
    text-decoration: none;
}
@media (max-width: 590px) {
   .loginform{
    width: 70vw;
    margin: 10% 15%;
   }
   .btn{
    width: 15vw;
   }
   input{
    width: 45vw;
   }
   
  }
  
  @media (max-width: 590px) {
    .loginform{
     width: 70vw;
     margin: 10% 15%;
    }
    .btn{
     width: 15vw;
    }
    input{
     width: 45vw;
    }
    
   }
   @media (min-width: 768px)and (max-width: 1024px) {
    .loginform{
     width: 60vw;
     margin: 10% 20%;
    }
    .btn{
     width: 5vw;
    }
    input{
     width: 25vw;
    }
    
   }