.name{
    text-align: center;
}
.container {
   display: grid;
   place-items: center;
   flex-wrap: wrap;
    
}
.pimage{
    height: 32vh;
    width: 15vw;
    border-radius: 18vh;
    border: 5px solid rgb(0, 190, 223);
    box-shadow: 0px 3px 10px grey;
    flex-wrap: wrap;
}
.inp{
    display: grid;
    place-items: center;
    flex-wrap: wrap;
}
.pbtn{
   display: grid;
   place-items: center;
}
.btn{
    height: 5vh;
    width: 10vw;
    color: white;
    background-color: rgb(0, 190, 223);
    border-radius: 10px;
    border: none;
    flex-wrap: wrap;
}

@media (min-width: 1024px)and (max-width: 1281px) {
    .pimage{
        border-radius: 25vh;
        height: 30vh;
        width: 20vw;
    }
    }

@media (min-width: 768px)and (max-width: 1025px) {
    .pimage{
        border-radius: 25vh;
        height: 30vh;
        width: 40vw;
    }
    .btn{
     width: 20vw;
    }
    .inp{
       display: grid;
       place-items: center;
    }  
 }
@media (max-width: 590px) {
    .pimage{
        width: 40vw;
        height: 28vh;
        border-radius: 22vh;
    }
    .btn{
     width: 20vw;
    }
    
    
    
   }
   @media (max-width: 450px) {
    .pimage{
        width: 40vw;
        height: 20vh;
    }
    .btn{
     width: 20vw;
    }
    .inp{
        margin-left: 10%;
    }
    
    
   }